[Unit]
Description=Solvro Office Cam Motion Detection Service
After=network-online.target
Wants=network-online.target

[Service]
User=solvrocam
Group=solvrocam

ExecStart=/home/solvrocam/.local/bin/solvrocam

Restart=on-failure
RestartSec=5s

StandardError=journal

[Install]
WantedBy=multi-user.target
