[Unit]
Description=Solvro Office Cam Motion Detection Service
After=network-online.target
Wants=network-online.target

[Service]
User=solvrocam
Group=solvrocam

EnvironmentFile=/etc/environment
ExecStart=/home/solvrocam/.local/bin/solvrocam

Restart=on-failure
RestartSec=5s

StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
